<div class="modal-overlay" *ngIf="showBoardForm"></div>

<div class="modal modal-with-right-column" *ngIf="showBoardForm">
  <!-- Ліва частина: картка -->
  <div class="left-column">

<div class="modal-title-wrapper">
    <h2 class="modal-title">Information about board</h2>
        <div class="modal-actions">
      <button class="btn icon" (click)="openUpdateBoardForm(selectedBoardData); $event.stopPropagation()">✏️</button>
      <button class="btn icon" (click)="deleteBoard(boardId); $event.stopPropagation()">🗑️</button>

    </div>
    </div>


    <form [formGroup]="showBoardForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" readonly />
      </div>


      <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

      <div class="actions">
        <button type="button" class="btn cancel" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>

<div class="right-column">
  <h3>History</h3>

  <div *ngIf="activities.length === 0">
    <p>No action history</p>
  </div>

<ul *ngIf="displayedActivities.length > 0" class="activity-list">
  <li *ngFor="let activity of displayedActivities" class="activity-item">
    <span class="activity-time">{{ activity.activityTime | date:'dd/MM/yy, HH:mm' }}</span>
    <span class="activity-action"><strong>{{ activity.action }}</strong></span>
    <span class="activity-info">{{ activity.activityInformation }}</span>
  </li>
</ul>

<button *ngIf="currentIndex < activities.length" (click)="loadMoreActivities()" class="btn load-more">
  Show more
</button>

<app-board-updateboard
  *ngIf="isUpdateBoardModalOpen"
  [board]="selectedBoard"
  (closeModal)="closeUpdateBoardModal()"
  (cartUpdated)="reloadBoard()"
  (closeModal)="reloadBoard()">
</app-board-updateboard>


