<div class="modal-backdrop">
  <div class="modal">
    <h2>Create new board</h2>
    <form [formGroup]="createBoardForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="name" placeholder="Name board ">
      <div class="error" *ngIf="createBoardForm.get('name')?.invalid && createBoardForm.get('name')?.touched">
        Name must be at least 1 character long
      </div>

      <div class="modal-actions">
        <button type="submit">Create</button>
        <button type="button" (click)="onCancel()">Cancel</button>
      </div>

      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
    </form>
  </div>
</div>
