<div class="modal-overlay" (click)="onCancel()"></div>

<div class="modal-container">
  <h2>Update List</h2>

  <form [formGroup]="updateCartListForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name List</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Enter name" />

      <div class="error" *ngIf="updateCartListForm.get('name')?.touched && updateCartListForm.get('name')?.invalid">
        Name mandatory.
      </div>
    </div>

    <div class="actions">
      <button type="submit" class="btn save" [disabled]="!updateCartListForm.valid">
        💾 Save
      </button>
      <button type="button" class="btn cancel" (click)="onCancel()">
        ❌ Cancel
      </button>
    </div>

    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </form>
</div>
