<div class="modal-overlay" (click)="onCancel()"></div>

<div class="modal-container">
  <h2>{{ 'board.editTitle' | translate }}</h2>

  <form [formGroup]="updateBoardForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">{{ 'board.name' | translate }}</label>
      <input id="name" type="text" formControlName="name" [placeholder]="'common.enterName' | translate" />

      <div class="error" *ngIf="updateBoardForm.get('name')?.touched && updateBoardForm.get('name')?.invalid">
        {{ 'common.requiredName' | translate }}
      </div>
    </div>

    <div class="actions">
      <button type="button" class="buttonCancel" (click)="onCancel()">{{ 'common.cancel' | translate }}</button>
      <button type="submit" class="buttonCreate" [disabled]="!updateBoardForm.valid">{{ 'common.save' | translate }}</button>

    </div>

    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </form>
</div>
