<div class="archive-container">
  <h2>Архівовані картки</h2>

  <div class="cards-wrapper" *ngIf="list && list.length > 0; else empty">

    <div class="card-item" *ngFor="let card of list" (click)="openShowCarForm(card.id); $event.stopPropagation()">
      <div class="card-info">
        <strong>{{ card.name }}</strong>
        <p>Description: {{ card.description | slice:0:50 }}</p>
        <p>Status: {{ card.statusNote }}</p>
        <p>Priority: {{ card.priorityNote }}</p>
        <p>Due: {{ card.dueDate | date:'dd.MM.yyyy HH:mm' }}</p>
      </div>
      <button class="btn-archive" (click)="removeCartToArchive(card.id);$event.stopPropagation()">
        <i class="icon-archive"></i> UnArchive
      </button>

    </div>

  </div>

  <ng-template #empty>
    <div class="no-data">
      <p>Архів порожній</p>
    </div>
  </ng-template>
</div>

@if (showCartModalOpen && showCartId) {
  <app-cart-showCart
    [cartId]="showCartId"
    (closeModal)="closeShowCartModal()"
    (click)="$event.stopPropagation()">
  </app-cart-showCart>
}
