<div class="board-container" *ngIf="board$ | async as board">
  <div class="board-header">
    <h2>{{ board.name }}</h2>

    <button class="btn-archive" (click)="goToArchiveCartList()">
      <i class="icon-archive"></i> Archive List
    </button>
    <button class="btn add-list" (click)="addList()">Add list</button>
  </div>
  <div class="search-container">
    <input
      type="text"
      #searchInput
      (input)="searchListCart(searchInput.value, board.id, false)"
      placeholder="Search boards..."
    />
  </div>

<div class="lists-wrapper" *ngIf="lists$ | async as lists" >
  <div class="list-card" *ngFor="let list of (searchListCartsResults[boardId] || lists)" (click)="openShowListCarForm(list.id); $event.stopPropagation()">
    <div class="search-container">
      <input
        (click)="$event.stopPropagation()"
        type="text"
        #searchInput
        (input)="searchCart(list.id, false, searchInput.value)"
        placeholder="Search Cart..."
      />
      <select #prioritySelect (click)="$event.stopPropagation()" (change)="searchCart(list.id, true, undefined, prioritySelect.value)">
        <option [value]="null">Priority</option>
        <option value="0">Low</option>
        <option value="1">Medium</option>
        <option value="2">High</option>
        <option value="3">Urgent</option>
      </select>

      <select #statusSelect (click)="$event.stopPropagation()" (change)="searchCart(list.id, true, undefined, undefined, statusSelect.value)">
        <option [value]="null">Status</option>
        <option value="0">Draft</option>
        <option value="1">Published</option>
        <option value="2">Done</option>
      </select>
      <div class="date-wrapper">
        <label>Created At:</label>
        <div class="input-with-clear">
          <input
            #createdAtInput
            type="date"
            (click)="$event.stopPropagation()"
            (change)="searchCart(list.id, true, undefined, undefined, undefined, undefined, createdAtInput.value)"
          />
          <button
            *ngIf="createdAtInput.value"
            class="btn-delete-date"
            (click)="$event.stopPropagation(); createdAtInput.value = ''; searchCart(list.id, true, undefined, undefined, undefined, undefined, null)"
            title="Clear date">
            🗑️
          </button>
        </div>
      </div>
    </div>
    <button class="btn-archive" (click)="addListCartToArchive(list.id); $event.stopPropagation()">
      <i class="icon-archive"></i> Archived
    </button>
      <div class="list-header">
        <h3 [title]="list.name">{{ list.name | slice:0:25 }}{{ list.name.length > 25 ? '...' : '' }}</h3>

        <div class="list-actions">

          <button class="btn icon add-card" (click)="addCard(list.id); $event.stopPropagation()" title="Add cart">

  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 1a.5.5 0 0 1 .5.5V7.5H14a.5.5 0 0 1 0 1H8.5V14a.5.5 0 0 1-1 0V8.5H2a.5.5 0 0 1 0-1h5.5V1.5A.5.5 0 0 1 8 1z"/>
  </svg>
</button>

        </div>
      </div>



 <div class="cards-wrapper">
      <div class="card-item" *ngFor="let card of (searchCartsResults[list.id] || list.carts)">
        <div class="card-info" [title]="card.name" (click)="openShowCarForm(card.id); $event.stopPropagation()">
          <strong>{{ card.name | slice:0:25 }}{{ card.name.length > 25 ? '...' : '' }}</strong>
          <p>Description: {{ card.description | slice:0:50 }}{{ card.description.length > 50 ? '...' : '' }}</p>
          <p>Priority: {{card.priorityNote}}</p>
          <p>Status: {{card.statusNote}}</p>
          <p>Due time: {{ card.dueDate | date:'dd.MM.yyyy HH:mm' }}</p>

        </div>


<div class="move-cart-container" *ngIf="lists && lists.length">
  <label for="moveCartSelect">Move cart to list:</label>
  <select id="moveCartSelect"
          [(ngModel)]="selectedCartListIds[card.id]"
          (click)="$event.stopPropagation()"
          (change)="moveCartToCartList(card.id)">
    <option
      *ngFor="let listOption of lists"
      [value]="listOption.id"
      [disabled]="listOption.id === list.id">
      {{ listOption.name | slice:0:25 }}{{ listOption.name.length > 25 ? '...' : '' }}
    </option>
  </select>
  <button class="btn-archive" (click)="addCartToArchive(card.id); $event.stopPropagation()">
    <i class="icon-archive"></i> Archived
  </button>

</div>


  </div>
   <button class="btn-archive" (click)="goToCartArchive(list.id); $event.stopPropagation()">
     <i class="icon-archive"></i> Archive Cart
   </button>

</div>

    </div>
  </div>
</div>

<div *ngIf="loading$ | async" class="loading">
  <p>Load board...</p>
</div>

<div *ngIf="isCreateCartListOpen" class="modal-overlay">
  <app-cartList-createCartList
    [boardId]="boardId"
    (closeModal)="closeCreateCartListModal()"
        (closeModal)="storeLoad()"
    (cartListCreated)="storeLoad()"

>
  </app-cartList-createCartList>
</div>

<div *ngIf="isCreateCartOpen" class="modal-overlay">
  <app-createCart-createCart
    [cartListId]="cartListId"
    (closeModal)="closeCreateCartModal()"
    (cartCreated)="storeLoad()">
  </app-createCart-createCart>
</div>
<div *ngIf="showCartModalOpen" class="modal-overlay" (click)="closeShowCartModal()">
  <app-cart-showCart
    [cartId]="showCartId"
    [currentUserId] = "currentUserId"
    (closeModal)="closeShowCartModal()"
    (click)="$event.stopPropagation()"
>
  </app-cart-showCart>
</div>
<div *ngIf="showCartListModalOpen" class="modal-overlay" (click)="closeShowListCartModal()">
  <app-cartList-showcartlist
        [cartListId]="showCartListId"
    (closeModal)="closeShowListCartModal()"
    (click)="$event.stopPropagation()"
    (closeModal)="storeLoad()"
    (cartListUpdated)="storeLoad()"
>
  </app-cartList-showcartlist>
</div>


