<div class="modal-overlay" (click)="onCancel()"></div>

<div class="modal-container">
  <h2>Create List</h2>

  <form [formGroup]="createCartListForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Enter name"
      />
      <div class="error" *ngIf="createCartListForm.get('name')?.touched && createCartListForm.get('name')?.invalid">
        Name must be at least 1 character long
      </div>
    </div>


    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>

    <div class="actions">
      <button type="submit" class="btn save" [disabled]="createCartListForm.invalid">
        ➕ Create
      </button>
      <button type="button" class="btn cancel" (click)="onCancel()">
        ❌ Cancel
      </button>
    </div>
  </form>
</div>
