<div class="dashboard-header">
  <h2 class="logo">Dashboard</h2>

  <div class="header-actions-right">
  <button (click)="showCreateBoardForm = true" class="create-board-btn">
    Create Board
  </button>
<div class="user-section" *ngIf="userName">
  <div class="user-avatar" (click)="toggleUserMenu()">
    <span>{{ userName }}</span>
  </div>

  <div class="user-menu"
       *ngIf="isUserMenuOpen"
       (mouseenter)="onUserMenuMouseEnter()"
       (mouseleave)="onUserMenuMouseLeave()">
    <button (click)="openProfile()">Profil</button>
    <button (click)="logout()">logout</button>
  </div>
</div>

  </div>



  <div *ngIf="showCreateBoardForm" class="overlay">
    <app-board-createboard (closeModal)="showCreateBoardForm = false"></app-board-createboard>
  </div>
</div>


<div class="boards-list grid-container">
  <div class="board-card" *ngFor="let board of boards">
    <h3>{{ board.name }}</h3>
    <p>Створено: {{ board.createdAt | date }}</p>
    <div class="board-actions">

   <button class="btn more-btn"
            (click)="openShowBoardInformation(board.id); $event.stopPropagation()"
            title="Information about board">
      ⋮
    </button>

    </div>

    <button class="open-board-btn" (click)="openBoard(board)">Open</button>
  </div>
</div>

<!-- 🔹 модалка редагування дошки -->
<div *ngIf="showUpdateBoardForm" class="overlay">
  <app-board-updateboard
    [board]="selectedBoard"
    (closeModal)="closeUpdateBoardForm()">
  </app-board-updateboard>
</div>
<app-board-showinformitionboard
  *ngIf="showBoardInfoForm"
  [boardId]="selectedBoardId!"
    (closeModal)="closeShowBoardInformation()"
    (boardUpdated)="closeShowBoardInformation(true)">
</app-board-showinformitionboard>

<app-board-createboard
  *ngIf="showCreateBoardForm"
    (closeModal)="closeCreateBoardForm(true)">
</app-board-createboard>
